<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1} - %msg%n%throwable"/>
        </Console>
        <Console name="Info" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1} - %msg%n%throwable"/>
        </Console>
        <Console name="Direct" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <Console name="DEBUG" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Your application packages - set to DEBUG -->
        <Logger name="org.fuzzer" level="DEBUG" additivity="false">
            <AppenderRef ref="DEBUG"/>
        </Logger>

<!--        &lt;!&ndash; TLS Attacker packages - set to DEBUG &ndash;&gt;-->
<!--        <Logger name="de.rub.nds.tlsattacker" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="DEBUG"/>-->
<!--        </Logger>-->

        <!-- Specific TLS Attacker components that log extension adjustments -->
        <Logger name="de.rub.nds.tlsattacker.core.protocol.handler.extension" level="DEBUG"/>
        <Logger name="de.rub.nds.tlsattacker.core.workflow.action" level="DEBUG"/>
        <Logger name="de.rub.nds.tlsattacker.core.state" level="DEBUG"/>

        <Logger name="DirectLogger" level="ALL">
            <AppenderRef ref="Direct"/>
        </Logger>

        <Logger name="com.openpojo.log.LoggerFactory" level="OFF">
            <AppenderRef ref="Direct"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>